.main {
    display: flex;
    align-items: baseline;
    font-size: 18px;
    & > :last-child {
        margin-left: 8px;
    }

    &.column {
        flex-direction: column;
        align-items: center;
        & > :last-child {
            margin-left: 0;
        }
    }
}

.treasureImage {
    width: 22px;
    margin-left: 2px;
}

.doorImage {
    width: 14px;
    margin-left: 2px;
}