.main {
    display: flex;
    align-items: baseline;
    font-size: 18px;
}

.treasureImage {
    width: 22px;
    margin-right: 8px;
    margin-left: 2px;
}

.doorImage {
    width: 14px;
    margin-left: 2px;
}