.main {
    display: flex;
    align-items: baseline;
    & > :last-child {
        margin-left: 8px;
    }

    &.column {
        flex-direction: column;
        align-items: center;
        & > :last-child {
            margin-top: 4px;
            margin-left: 0;
        }
    }
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.title {
    font-size: 16px;
    font-weight: lighter;
}
