// S for Secondary
// T for tertiary

$mainColor: #262016;
// $mainColorS: #C4C4C4;
// $mainColorT: #757575;

$mainBack: #E9E1D3;
$mainBackS: #F3CF94; 
$mainBackT: #D4AC6A;

$shadow: rgba($mainColor, .2);
$shadowS: rgba($mainColor, .15);

// $auxColor: #010101;
// $auxColorS: #111111;
// $auxColorT: #757575;

// $overlay: rgba($mainBack, .8);
// $overlayS: rgba($mainBack, .6);
// $overlayT: rgba($mainBack, .4);

// $auxBack: #FFFFFF;

// $mainAccent: #F5C518;
// $auxAccent: #5799EF;