@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

html {
    touch-action: manipulation;
}

html, body, input, button {
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: $mainBackT;
    color: $mainColor;
}

body * {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5 {
    margin: 0;
}

h3 {
    font-size: 16px;
}

a {
    text-decoration: none;
}